*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    margin: 15px;
    
}
.head1{
    display: flex;
}

.nav-bar{
    display: flex;
    align-items: center;
    font-size: 13px;
    
}
.cat a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

