*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    margin: 15px;
    
}
.head1{
    background-color: white;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
}

.nav-bar{
    height: 150px;
    display: flex;
    align-items: center;
    font-size: 13px;
    
}
.cat a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.locate{
    width: 25%;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.location{
    border-style: none;
    padding: 10px;
}
.material-icons{
    padding-top: 10px;

}

.search{
    width: 45%;
    height: 50px;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
.find{
    border-style: none;
    padding: 10px;
    box-sizing: border-box;
}
.sc{
    float: right;
    color: white; 
    min-width: 48px;
    height: 48px;
    display: flex;
    cursor: pointer;
    background-color: #002f34;
    border-radius: 0 4px 4px 0;
    padding-left: 15px;
}
.language{
    font-weight: 600;
    padding-bottom: 10px;
    padding-left: 10px;
}
.login{
    padding-left: 15px;
    text-decoration: underline;
    font-weight: 600;
}
.sell{
    border-radius: 35%;
    border: 7px solid;
    margin-left: 15px;
    border-color: cyan blue rgb(13, 78, 255) yellow;
    
}







.end-bar{
    display: flex;
}

.txt-box{
    width: 450px;
}
.txt-box h1{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}
.txt-box p{
    
    margin-top: 15px;
    font-size: 20px;
}

.vr{
    border: 1px solid rgb(197, 196, 196);
    margin-left: 15px;
    margin-right: 15px;
}


.apps-info{
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.app{
    margin-top: 30px;
}




























hr{
    margin-top: 50px;
    color: white;
}


.foot1{
    display: flex;
    height: 30%;
    width: 100%;
    margin: 1px;
    background-color: #ebeeef;
}
.ul{
    margin: 25px;
    list-style: none;
    padding-left: 50px;
}
.ul h3{
    font-size: 15px;
    color: #002f34;
    padding-bottom: 10px;
}
.ul li{
    color: #58767a;
    font-size: 12px;
    padding-bottom: 5px;
}

.social-icons{
    display: flex;
    
}
.social-logo{
    margin-top: 50px;
    margin-left: -130px;
    display: flex;
    width:28px; 
    height:28px;
}



.foot2{
    padding:20px;
    height: 50px;
    background-color: #002f34;
    color: white;
    font-size: 12px;
}
.foot2 p{
    float: right;
}